<!DOCTYPE HTML>
<html lang="en"> <!-- It's not Django template -->
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1><a href="../index.html">Recipe name</a></h1>
        <p>(Original page is <a href="recipe page link"></a>)</p>
        <img src="../images/spaghetti-allassassina/spaghetti-allassassina-assassins-spaghetti-finished.jpg" alt="Finished image of &quot;%recipe_name%&quot;" width="600" height="400">
        <aside class="technical-info-box">
            <div>
                Prep Time:
                 mins
            </div>
            <div>
                Cook Time:
                 mins
            </div>
            <div>
                Total Time:
                 mins
            </div>
            <div>
                Servings:
                
            </div>
        </aside>
        <aside class="nutrition-info-box">
            <div> Calories: cal </div>
            <div></div>
        </aside>

        <section class="description-box">
            <h2>Description</h2>
            <p class="side-note"></p>
        </section>

        <section class="ingredients-box">
            <ul><h2>Ingredients:</h2>
                <li></li>
            </ul>
        </section>

        <main class="steps-box">
            <h1>Steps</h1>

            <div class="superstep"><h3>Prepare the Meatballs:</h3></div>

                <div class="step"><h3>Step 1</h3>

                <p>Gather all ingredients.</p>

                <figure>
                    <img src="../images/spaghetti-allassassina/spaghetti-allassassina-assassins-spaghetti-1.jpg" alt="Image with all ingredients needed for %recipe_name%" width="600" height="450">
                    <figcaption>Original credit: ALLRECIPES / ANA CADENA</figcaption>
                </figure></div>
    
        </main>
        <aside class="cook-note">
            Cook's Note:
            <p>This recipe makes either 2 large or 4 smaller portions.</p>
            
            <p>You can serve this with Parmesan cheese or enjoy as is.</p>
        </aside>
    </body>
</html>